{% extends 'base.html' %}

{% block header %}
	<h1 class="Title">{% block title %}TODO-list{% endblock %}</h1>
	<p class="line">A simple list to help you remember</p>
{% endblock %}

{% block content %}
	<form action="/add" method="post">
		<div class="adding">
			<label>TODO Topic</label>
			<input class="addingBar" type="text" name="topic" maxlength="108" placeholder="Topic name" value="{{ request.form['topic'] }}" required>
			<button type="submit">Add</button>
		</div>
	</form>	
	
	<table class="table">
		<thead>
			<tr>
				<th class="topic">Task</th>
				<th class="status">Status</th>
				<th class="remove">Remove</th>
				<th class="update">Update</th>
			</tr>
		</thead>
		<tbody>	
			{% for item in items %}
				<tr>
					<td class="topic">{{ item.topic }}</td>
					{% if item.completed == "Incomplete" %}
						<td class="status"><form action="/complete/{{ item.id }}"><button type="submit">{{ item.completed }}</button></form></td>
					{% endif %}
					{% if item.completed == "Finished" %}
						<td class="status"><form action="/uncomplete/{{ item.id }}"><button tyoe="submit">{{ item.completed }}</button></form></td>
					{% endif %}
					<td class="remove"><a href="/remove/{{ item.id }}">Remove</a></td>
					<td class="update"><a href="/update/{{ item.id }}">Update</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>	
	
{% endblock %}
